* [Youtube Video Referenced](https://youtu.be/3y9XVlk9cDA)
* Dataset from [404X](https://www.kaggle.com/datasets/lasindudemel/vehicle-stolen-dataset)

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd_cars = pd.read_csv("vehicle_stolen_dataset_ with_headers.csv")

pd_cars

   number_plate   brand  color   time stoled
0          N001     BMW  black  night    yes
1          N002    Audi  black  night     no
2          N003  NISSAN  black  night    yes
3          N004    VEGA    red    day    yes
4          N005     BMW   blue    day     no
5          N006    Audi  black    day    yes
6          N007    VEGA    red  night     no
7          N008    Audi   blue    day    yes
8          N009    VEGA  black    day    yes
9          N010  NISSAN   blue    day     no
10         N011     BMW  black  night    yes
11         N012  NISSAN    red    day     no
12         N013    VEGA  black  night    yes
13         N014     BMW    red    day     no
14         N015    Audi  black    day    yes
15         N016    Audi   blue  night    yes
16         N017    Audi    red    day     no
17         N018  NISSAN  black    day    yes
18         N019     BMW   blue    day    yes
19         N020     BMW    red  night    yes

# Remove number_plate column

In [4]:
pd_cars = pd_cars.drop(["number_plate"],axis=1)

pd_cars

     brand  color   time stoled
0      BMW  black  night    yes
1     Audi  black  night     no
2   NISSAN  black  night    yes
3     VEGA    red    day    yes
4      BMW   blue    day     no
5     Audi  black    day    yes
6     VEGA    red  night     no
7     Audi   blue    day    yes
8     VEGA  black    day    yes
9   NISSAN   blue    day     no
10     BMW  black  night    yes
11  NISSAN    red    day     no
12    VEGA  black  night    yes
13     BMW    red    day     no
14    Audi  black    day    yes
15    Audi   blue  night    yes
16    Audi    red    day     no
17  NISSAN  black    day    yes
18     BMW   blue    day    yes
19     BMW    red  night    yes

In [11]:
#Find all unique values under columns of interest

#car types

dif_car = pd_cars["brand"].unique()
dif_car

array(['BMW', 'Audi', 'NISSAN', 'VEGA'], dtype=object)

In [9]:
#colors

dif_color_car = pd_cars["color"].unique()
dif_color_car

array(['black', 'red', 'blue'], dtype=object)

In [10]:
#time
dif_time = pd_cars["time"].unique()
dif_time

array(['night', 'day'], dtype=object)

# Change datapoints to numerical values via dictionary

In [ ]:
#brand

brand_conv = {
    'BMW' : 1, 
    'Audi' : 2, 
    'NISSAN' : 3, 
    'VEGA' : 4
}

#color
color_conv = {
    
}


#time of day
time_day_conv = {
    
}

#stolen
stolen_conv = {
    'yes' : 1,
    'no' : 0
}

#make changes

pd_cars["brand"] = pd_cars["brand"].map(brand_conv)

#save as new csv
pd_cars.to_csv("vehicle_stolen_dataset_ with_headers.csv", index = False)